body {
  margin: 0px;
  padding: 0px;
  max-width: 100vw;
  min-height: 100vh;
  font-family: 'Roboto';
  display: flex;
  justify-content: center;
}

#root{
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}



